* {
  font-family: Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
body{
    margin: 0%;
    padding: 0%;
    line-height: 1.2;
}

:root{
    --primary-color: #243642;
    --secundary-color: #387478;
    --pink:#629584;
    --peach: #f4f6f5;
    --white:#ffffff;
    --black:black;
    --grey:gray;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.comienzo{
    text-align: center;
    align-content: center;
    gap: 10px;
    padding: 200px;
    width: 100%;
    border: 2px var(--primary-color);
    background-image: url(/images/exp.jpg);
    background-position: center;

}

.comienzo h1{
    text-shadow: #000 1px 0 8px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 70px;
}

.comienzo p{
  text-shadow: #000 1px 0 8px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 30px;
}



.dib{
  background-image: url(/images/dib.jpg);
  width: 100%;
  height: auto;
}

.pin{
  background-image: url(/images/37576504_8522408.jpg);
  width: 100%;
  height: auto;
}

.artu{
  background-image: url(/images/artesanias\ header.jpg);
  width: 100%;
  height: auto;
}

.menu{
    display: grid;
    align-content: center;
    text-align: center;
    grid-template-columns: auto ;
    gap: 30px;
    padding: 10px;
    text-decoration: none;
    margin-top: 5%;
    width:60%;
    margin-left:20% ;
    margin-right: 20%;
}





.item{
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 18px;
}


.fondoO{
      background-color: var(--peach);

}
.expo{


    display: grid;
    grid-template-columns: auto auto auto auto auto;
    text-align: center;
    align-content: center;
    width: 100%;
    height: auto;
    padding: 3%;
    padding-top: 5%;

}

.db1{
    align-content:center ;
    text-align: center;
    width: 70%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 10px;

}

.obra{
    text-decoration: none;
    width: 100%;
    height: auto;
    
}

.desp{    
    text-align: center;
    align-content: center;
    font-size: 24px;
    

}

.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .myImg:hover {opacity: 0.7;}
  
 
  .modal {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
  }
  

  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  

  .caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

  #formulario{
    margin: 5%;
    padding: 7%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    border-radius: 20px;
    align-items: center;
    
  }

a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

footer a{
  text-decoration: none;
  color: var(--peach);

}

footer a:hover {
  color: var(--secundary-color);

}

.listas{
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}

.msl{

  width: 300px;
  height: auto;
}

footer{
  display: grid; 
  align-content: center;
  grid-template-columns: auto auto auto auto;
  gap: 10px;  
  padding: 10px;
  padding-top: 50px;
  background-color: var(--primary-color);
}

footer li{
  display: flex;
  padding: 10px;
}