*{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-optical-sizing: auto;
    font-style: normal;
}
body{
    margin: 0;
    padding: 0;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;      
}



:root{
    --primary-color: #243642;
    --secundary-color: #387478;
    --pink:#629584;
    --peach: #efece7;
    --white:#ffffff;
    --black:black;
    --grey:gray;
    --largo:50%;
    --ancho: auto;
}


a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
/*footer*/
footer a{
    text-decoration: none;
    color: var(--peach);

}

footer a:hover {
    color: var(--secundary-color);

}

.listas{
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

.msl{
    width: 300px;
    height: auto;
}

footer{
    display: grid; 
    align-content: center;
    grid-template-columns: auto auto auto auto;
    gap: 10px;  
    padding: 10px;
    padding-top: 50px;
    background-color: var(--primary-color);
}

footer li{
    display: flex;
    padding: 10px;
}



/*fin footer*/

.comienzo{
    text-align: center;
    align-content: center;
    font-size: 30px;
    margin-top: 10%;

}

.comienzo h1{
    text-shadow: #000 1px 0 8px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 70px;
}


.menuTiendas{
    text-align: left;
    margin:auto ;
    margin-top: 100px;
    width: 40%;
    height: auto;
    
}

 #tiendas, #productos, #precio, #stock{

    list-style: none;
    padding: 40px;
    width:100%;
    height: auto;
    font-size: 22px;
    
}

#ver{
    align-items:center ;
    align-content: center;
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
}

.Htienda{
    margin: auto;
    width: 30%;
    height: auto;
    text-align: center;
    padding: 20px;
    
}

.tienda{
    text-align: center;
    margin:auto ;
    width: 30%;
    height: auto;
    font-size: 18px;
}

.fondo{
    background: rgb(173,255,225);
    background: radial-gradient(circle, rgba(173,255,225,1) 0%, rgba(113,172,230,1) 100%);
    
}